
  
    
      <tr>
        <td><%= test.first_name %></td>
        <td><%= test.last_name %></td>
        <td><%= test.email %></td>
        <td><%= test.phone %></td>
        <td><%= test.user_id %></td>
        <td>   <%= link_to "Show this test", test %></td>
      </tr>
    
   
  